body {
  font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.submission-container {
  width: 80%; 
  margin: 20px auto;
  text-align: center;
  font-size: 15px;
  border: 3px dashed orange;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff8f0;
}
.submission-container h2 {
  color: orange;
  margin-bottom: 20px;
}


.upload-box {
  display: block;          
  width: 100%;           
  max-width: 600px;        
  margin: 0 auto;          
  border: 3px dashed orange;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff8f0;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;      
}

.upload-box:hover {
  background-color: #ffe5cc;
  transform: scale(1.02);
}

.upload-box i {
  font-size: 48px;
  display: block;
  margin-bottom: 10px;
  color: #ff9900;
}

.upload-box h1 {
  display: block;
  font-size: 16px;
  color: lightslategray;
}
.upload-box h2{
    display: block;
  font-size: 16px;
  color: orange;

}

.upload-box input[type="file"] {
  display: none;
}

.accessibility-bar {
    margin:auto;
  padding: 15px;
  background-color: #eee;
  border-top: 2px solid #ccc;
  text-align: center;
}

.accessibility-controls button {
  margin: 0 10px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #ddd;
  border-radius: 5px;
}

.back-btn {
  margin-bottom: 10px;
  font-size: 16px;
  background-color: orange;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
#description {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  display: block;
  border: 2px transparent orange;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
}